<!DOCTYPE html>
<html style="width: 100%;">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TCMS</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Navigation-Dark-Clean.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Loading-Div.css' %}" />
    <link rel="stylesheet" href="{% static 'css/testrun.css' %}" />
</head>

<body style="width: 100%;">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">API CLINIC</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="test_plan">Test Plan</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="test_run">Test Execution</a></li>
                    <li class="nav-item dropdown"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#">Profile </a>
                        <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item" href="{% url 'logout' %}">Logout</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Test Case Result Detail Modal -->
    <div class="modal fade show bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true"  id="test_case_result_detail">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" id="test_case_result_detail_header">
                    <h4 class="modal-title" id="test_case_result_detail_name">Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div>
                        <div><label>Request URL: </label>
                            <div><textarea id="test_case_result_detail_request_url" style="width: 100%;"></textarea></div>
                        </div>
                        <div><label>Request Headers: </label>
                            <div><textarea id="test_case_result_detail_request_headers" cols="40" rows="10" style="width: 100%;"></textarea></div>
                        </div>
                        <div><label>Request Body: </label>
                            <div><textarea id="test_case_result_detail_request_body" cols="40" rows="10" style="width: 100%;"></textarea></div>
                        </div>
                        <div class="row">
                            <div style="width: 50%;"><label>Real Response Status: </label><textarea id="test_case_result_detail_real_status" cols="40" rows="10" style="width: 100%;"></textarea></div>
                            <div style="width: 50%;"><label>Expected Response Status: </label><textarea id="test_case_result_detail_expected_status" cols="40" rows="10" style="width: 100%;"></textarea></div>
                        </div>
                        <div class="row">
                            <div style="width: 50%;"><label>Real Response Data: </label><textarea id="test_case_result_detail_real_data" cols="40" rows="10" style="width: 100%;"></textarea></div>
                            <div style="width: 50%;"><label>Expected Response Data: </label><textarea id="test_case_result_detail_expected_data" cols="40" rows="10" style="width: 100%;"></textarea></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div> -->
            </div>
        </div>
    </div>

    <!-- New  button -->
    <div class="text-center">
        <button type="button" data-dismiss="modal" class="btn btn-success" id="new">New</button>
    </div>

    <div class="row" align="left" style="width: 90%;margin: 60px;height: 80%;">
        <div id="search_area" style="width: 25%;height: 100%;"><input type="search" id="search_input" style="width: 100%;height: 10%;padding: 0px;">
            <ul class="list-group" id="test_result_list_group" style="width: 100%;padding: 4px;">

                {% for test_result in test_results %}
                    <a href="#" id="{{ test_result.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Functional Testing</h5>
                            {% if test_result.failed_number %}
                                <button  type="button" class="btn btn-danger">Failed <span class="badge badge-light">{{ test_result.failed_number }}</span>
                                </button>
                                {% endif %}
                            {% if test_result.pass_number %}
                                <button type="button" class="btn btn-primary">Passed <span class="badge badge-light">{{ test_result.pass_number }}</span>
                                </button>
                                {% endif %}
                        </div>
                        <p class="mb-1">{{ test_result.name }}</p>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div id="display_area" style="width: 70%;margin: 30px;">
            <h1 class="text-center" id="head_display"></h1>
            <hr>
            <div id="info_display" class="row" style="margin: 60px;">
                <div style="width: 30%;margin: 0;"><label style="font-family: 'Abril Fatface', cursive;">Start Time:&nbsp; &nbsp;</label><label id="start_time_display"></label></div>
                <div style="width: 30%;"><label style="font-family: 'Abril Fatface', cursive;">End Time:&nbsp; &nbsp;</label><label id="end_time_display"></label></div>
                <div style="width: 30%;"><label style="font-family: 'Abril Fatface', cursive;">Duration:&nbsp; &nbsp;</label><label id="duration_time_display"></label></div>
            </div>
            <hr>
            <div id="detail_display"></div>
            
        </div>
        <div id="ldiv" class="loadingdiv" style="display:none;"><img class="loadingdivimg" id="loadingdivimg" src="{% static 'img/loading.gif' %}" /></div>
    </div>

    
    <!-- New test run modal -->
    <div role="dialog" tabindex="-1" class="modal fade" id="new_test_run">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Test Exection</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    {% csrf_token %}
                        <table>
                            {{ test_run.as_table }}
                        </table>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button" id="add_new_run">Add</button></div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/Fixed-navbar-starting-with-transparency.js' %}"></script>
    <script src="{% static 'js/testrun.js' %}"></script>

</body>

</html>